{% extends 'Diary/home/base.html' %}
{% load static %}
{% block title %}Cadastro de diário{% endblock %}
{% block conteudo %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-auto">
                            <li class="breadcrumb-item active">Cadastro de Equipamentos da Obra</li>
                        </ol>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                  <div class="form-group">
                                    <label for="equipment_construction_description" class="col-form-label" >Descrição:</label>
                                    <input name="equipment_construction_description" type="text" class="form-control" id="equipment_construction_description" onkeyup="this.value=this.value.toUpperCase();" value="NÃO ESPECIFICADO">
                                  </div>
                                  <div class="form-group">
                                    <label for="equipment_construction_amount" class="col-form-label">Quantidade:</label>
                                    <input name="equipment_construction_amount" type="number" class="form-control" id="equipment_construction_amount" value="0">

                                    <input name="equipment_construction_diary" type="hidden" value="{{ diary }}">
                                  </div>
                            </div>
{{ amount }}
                            <div class="card-body"><hr>
                                 <button class="btn btn-success mr-3" type="submit">Cadastrar</button>
                                 <a class="btn btn-danger mr-3" href="{% url 'home_page' %}">Cancelar</a>
                            </div>
                        </form>


                    </div>
                </main>
{% endblock %}