{% extends 'Diary/home/base.html' %}
{% load static %}
{% block title %}Cadastro de diário{% endblock %}
{% block conteudo %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-auto">
                            <a class="breadcrumb-item active" href="{% url 'home_page' %}">Obras</a><li class="breadcrumb-item active">Cadastro de Diário</li>
                        </ol>

                        <div class="modal-body">
                            <form method="post">{% csrf_token %}
                                      <div class="form-row">
                                            <div class="form-group col-md-6">
                                              <label class="col-form-label" for="diary_date_day">Data atual:</label>
                                              <input name="diary_date_day" type="date" class="form-control" id="diary_date_day" required="required">

                                              <input name="diary_construction" type="hidden" value="{{ construction.id }}">
                                            </div>
                                      </div>

                                <div class="card-body">
                                     <button class="btn btn-success mr-3" type="submit"> Cadastrar</button>
                                     <a class="btn btn-danger mr-3" href="{% url 'home_page' %}">Cancelar</a>
                                </div><hr>

                                <table class="table table-hover table-dark">
                                  <thead>
                                    <tr>
                                      <th scope="col">Diário</th>
                                      <th scope="col">Data</th>
                                      <th scope="col">Ações</th>
                                    </tr>
                                  </thead>

                                  <tbody>
                                    {% for i in diarys %}
                                        <tr>
                                          <th scope="row">{{ i.id }}</th>
                                          <td>{{ i.diary_date_day }}</td>
                                          <td><a class="btn btn-info mr-3" href="{% url 'show_diary_information' %}">Abrir</a></td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </main>
{% endblock %}