{% extends 'Diary/home/base.html' %}
{% load static %}
{% block title %}Cadastro de diário{% endblock %}
{% block conteudo %}
    <main>
        <div class="container-fluid">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Informações do Diário</li>
            </ol>

            <div class="modal-body">
                      <div class="form-row">
                            <div class="form-group col-md-6">
                              <label class="col-form-label" for="diarioDtAtual">DATA ATUAL:</label>
                              <p type="date" id="diarioDtAtual">{{ diary.diary_date_day }}</p>
                            </div>

                            <div class="form-group col-md-6">
                              <label class="col-form-label" for="diarioNumDiario">NÚMERO DO DIÁRIO:</label>
                              <p type="date" id="diarioDtAtual">{{ diary.id }}</p>
                            </div>
                      </div>
            </div>
            <div class="card-body"><hr>
                 <a class="btn btn-primary mr-3" href="#">Imprimir</a>
                 <a class="btn btn-warning mr-3" href="{% url 'register_diary' construction %}">Voltar</a>
            </div>
        </div>
    </main>
{% endblock %}

