{% extends 'Diary/home/base.html' %}
{% load static %}
{% block title %}Cadastro de diário{% endblock %}
{% block conteudo %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-auto">
                            <li class="breadcrumb-item active">Total dos Serviços</li>
                        </ol><br>

                        <div class="total">
                            <form method="post">{% csrf_token %}
                                <div class="form-group col-md-12">
                                  <label class="col-form-label" for="total_service_manpower">Mão de Obras:</label>
                                  <h5>{{ amount_manpower }}</h5>

                                  <input name="total_service_manpower" type="hidden" value="{{ amount_manpower }}">
                                </div>

                                <div class="form-group col-md-12">
                                  <label class="col-form-label" for="total_service_equipment">Equipamentos:</label>
                                  <h5>{{ amount_equipment }}</h5>

                                  <input name="total_service_equipment" type="hidden" value="{{ amount_equipment }}">

                                  <input name="total_service_diary" type="hidden" value="{{ diary }}">
                                </div>

                                <div class="card-body"><hr>
                                     <button class="btn btn-success mr-3" type="submit">Prosseguir</button>
                                     <a class="btn btn-danger mr-3" href="{% url 'delete_diary' diary %}">Cancelar</a>
                                </div>
                            </form>
                        </div><br>
                    </div>
                </main>
{% endblock %}