{% extends 'Diary/home/base.html' %}
{% load static %}

{% block title %}Cadastro de Obra{% endblock %}

{% block conteudo %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-auto">
                            <a class="breadcrumb-item active" href="{% url 'show_constructions' %}">Obras</a><li class="breadcrumb-item active">Cadastrar Obra</li>
                        </ol>

                        <form method="post">{% csrf_token %}
                              <div class="modal-body">

                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="construction_name" class="col-form-label" >Descrição:</label>
                                        <input name="construction_name" type="text" class="form-control" id="construction_name" onkeyup="this.value=this.value.toUpperCase();" placeholder="Ex: Construção A">

                                        <input name="construction_company_engineer" type="hidden" value="{{ engineer.id }}">
                                      </div>

                                      <div class="form-group col-md-6">
                                        <label for="construction_date_start" class="col-form-label" >Data da início:</label>
                                        <input name="construction_date_start" type="date" class="form-control" id="construction_date_start">
                                      </div>
                                  </div>

                                  <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="construction_date_term" class="col-form-label" >Data da entrega:</label>
                                        <input name="construction_date_term" type="date" class="form-control" id="construction_date_term">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="construction_company_customer" class="col-form-label" >Cliente:</label>
                                        <input name="construction_company_customer" list="customers" type="text" id="construction_company_customer" class="form-control" required="required">

                                          <datalist id="customers">
                                              {% for i in customers %}
                                                <option value="{{ i.id }}">{{ i.customer_name }}</option>
                                              {% endfor %}
                                          </datalist>
                                      </div>
                                  </div>
                              </div>

                              <div class="card-body"><hr>
                                  <button class="btn btn-success mr-3" type="submit">Cadastrar</button>
                                  <a class="btn btn-danger mr-3" href="{% url 'home_page' %}">Cancelar</a>
                              </div>
                        </form>
                    </div>
                </main>
{% endblock %}