{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Diário - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'diary/access/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'diary/access/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Acesso</div>
      <div class="card-body">

        <form method="post">{% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              <input  name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Email</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
              <label for="inputPassword">Senha</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Relembrar Senha
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Entrar</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'register_access' %}">Registrar</a>
          <a class="d-block small" href="{% url 'recover_password' %}">Recuper senha?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'diary/access/js/jquery.min.js' %}"></script>
  <script src="{% static 'diary/access/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'diary/access/js/jquery.easing.min.js' %}"></script>

</body>

</html>
