<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" contentaccess="">
  <meta name="author" content="">

  <title>Concluíndo cadastro</title>

  <!-- Custom fonts for this template-->
  <link href="static/access/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="static/access/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Concluíndo registro do engenheiro</div>
      <div class="card-body">
        <form method="post"> {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="engineer_name">Nome</label>
                  <input name="engineer_name" type="text" id="engineer_name" class="form-control" required="required">
                  <input name="user_access" type="hidden" value="{{ user }}">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-7">
                  <label class="col-form-label" for="engineer_cnpj">CNPJ</label>
                  <input name="engineer_cnpj" type="text" id="engineer_cnpj" class="form-control" required="required">
                </div>

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="engineer_contact">Contato</label>
                  <input name="engineer_contact" type="text" id="engineer_contact" class="form-control" required="required">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-8">
                  <label class="col-form-label" for="engineer_street">Endereço</label>
                  <input name="engineer_street" type="text" id="engineer_street" class="form-control" required="required">
                </div>

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="engineer_number">Número</label>
                  <input name="engineer_number" type="number" id="engineer_number" class="form-control" required="required">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="engineer_city">Cidade</label>
                  <input name="engineer_city" type="text" id="engineer_city" class="form-control" required="required">
                </div>

                <div class="form-group col-md-2">
                  <label class="col-form-label" for="engineer_state">Estado</label>
                  <input name="engineer_state" type="text" id="engineer_state" class="form-control" required="required">
                </div>

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="engineer_cod">CEP</label>
                  <input name="engineer_cod" type="text" id="engineer_cod" class="form-control" required="required">
                </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit">Concluir</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'login' %}">Logar</a>
          <a class="d-block small" href="{% url 'recover_password' %}">Recuperar senha?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/access/js/jquery.min.js"></script>
  <script src="static/access/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/access/js/jquery.easing.min.js"></script>

</body>

</html>
