{% extends 'Customer/home/base.html' %}
{% load static %}

{% block title %}HOME{% endblock %}

                {% block conteudo %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Informações</li>
                        </ol>

                        <div class="modal-body" style="text-align: center">
                            <h1>Bem Vindo</h1>

                            <h5>{{ request.user }}</h5>
                            <div class="row">
                                 {% for i in construction_user %}
                                    <div class="col-xl-3 col-md-6">
                                        <div class="card bg-primary text-white mb-4">
                                            <div class="card-body">{{ i.construction_name }}</div>
                                            <div class="card-footer d-flex align-items-center justify-content-between">
                                                <a class="small text-white stretched-link" href="#">Mais informações</a>
                                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
                {% endblock %}

