<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" contentaccess="">
  <meta name="author" content="">

  <title>Concluíndo registro</title>

  <!-- Custom fonts for this template-->
  <link href="{%  static 'diary/access/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{%  static 'diary/access/css/sb-admin.css' %}" rel="stylesheet">

  <!-- css search -->

  <!-- Css Bootstrap-->
  <link rel="stylesheet" href="{%  static 'diary/search/jquery-ui.css' %}" type="text/css" media="all" />
  <script src="{%  static 'diary/search/jquery.min.js' %}" type="text/javascript"></script>

  <!-- Este js não funciona estático -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

  <script>
        $(document).ready(function(){
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search/",
                /* Defenir o tanto de letra para começar a buscar*/
                minLength: 1,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
              });
        });
  </script>



</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Concluíndo registro</div>
      <div class="card-body">
        <form method="post"> {% csrf_token %}

          <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="customer_name">Nome</label>
                  <input name="customer_name" type="text" id="customer_name" class="form-control" required="required">
                  <input name="user_access" type="hidden" value="{{ user }}">
                </div>
          </div>

          <div class="form-row">
              <div class="form-group col-md-12">
                      <label for="engineer_name">Engenheiro:</label>
                      <input name="engineer" list="lista" id="engineer_name" class="form-control" required="required">

                      <datalist id="lista">
                          {% for i in engineer %}
                            <option value="{{ i.id }}">{{ i.engineer_name }}</option>
                          {% endfor %}
                      </datalist>
              </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-7">
                  <label class="col-form-label" for="customer_cnpj">CNPJ</label>
                  <input name="customer_cnpj" type="text" id="customer_cnpj" class="form-control" required="required">
                </div>

                <div class="form-group col-md-5">
                  <label class="col-form-label" for="customer_contact">Contato</label>
                  <input name="customer_contact" type="text" id="customer_contact" class="form-control" required="required">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-8">
                  <label class="col-form-label" for="customer_street">Endereço</label>
                  <input name="customer_street" type="text" id="customer_street" class="form-control" required="required">
                </div>

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="customer_number">Número</label>
                  <input name="customer_number" type="number" id="customer_number" class="form-control" required="required">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="customer_city">Cidade</label>
                  <input name="customer_city" type="text" id="customer_city" class="form-control" required="required">
                </div>

                <div class="form-group col-md-2">
                  <label class="col-form-label" for="customer_state">Estado</label>
                  <input name="customer_state" type="text" id="customer_state" class="form-control" required="required">
                </div>

                <div class="form-group col-md-4">
                  <label class="col-form-label" for="customer_cod">CEP</label>
                  <input name="customer_cod" type="text" id="customer_cod" class="form-control" required="required">
                </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit">Concluir</button>
        </form>

        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'login' %}">Logar</a>
          <a class="d-block small" href="{% url 'recover_password' %}">Recuperar senha?</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
