<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" contentaccess="">
  <meta name="author" content="">

  <title>SB Admin - Register</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'diary/access/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'diary/access/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registrar acesso</div>
      <div class="card-body">
        <form method="post"> {% csrf_token %}

          <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="user_access_email">Email</label>
                  <input name="email" type="email" id="user_access_email" class="form-control" placeholder="Ex: jose@gmail.com" required="required">
                  <input type="hidden" name="registration_mode" value="0">
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label" for="user_type">Tipo</label>
                  <select name="user_type" type="text" id="user_type" class="form-control" required="required">
                      <option value="Engenheiro">Engenheiro</option>
                      <option value="Cliente" selected>Cliente</option>
                  </select>
                </div>
          </div>

          <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label" for="password1">Senha</label>
                  <input name="password1" type="password" id="password1" class="form-control" placeholder="Digite sua senha" required="required">
                </div>

                <div class="form-group col-md-6">
                  <label class="col-form-label" for="password2">Confirmar senha</label>
                  <input name="password2" type="password" id="password2" class="form-control" placeholder="Confirme sua senha" required="required">
                </div>
          </div>

          <button class="btn btn-primary btn-block" type="submit">Registrar</button>
        </form>

        <div class="text-center">
          <a class="d-block small mt-3" href="{% url 'login' %}">Logar</a>
          <a class="d-block small" href="{% url 'recover_password' %}">Recuperar senha?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'diary/access/js/jquery.min.js' %}"></script>
  <script src="{% static 'diary/access/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'diary/access/js/jquery.easing.min.js' %}"></script>

</body>

</html>
